.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#parent {
  position: relative;
  width: 100%;
  height: 100%;
}

#espresso-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
  border: 1px black solid;
}
#picker-container {
  position: relative;
  width: 300px;
  height: 170px;
  margin: auto;
  border: 1px black solid;
}

